body{
    text-align: center;
}
#header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #F9CB0C;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}
#logo img {
    display: block;
    float: left;
    height: 50px;
    margin-right: 5px;
}
#brand{
    display: block;
    margin: 0px;
    float: left;
}
.center{
    width: 75%;
    margin: 0 auto;
}
#menu {
    width: 70%;
    float: right;
    font-size: 18px;
}
#menu ul {
    line-height: 85px;
}