* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

#logo {
    display: flex;
}
nav {
    border-top: 5px solid #F9CB0C;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(240, 240, 240);
}
#brand{
    font-size: 24px;
    letter-spacing: 5px;
}
.titulo{
    height: 24px;
}
#logo img {
    animation: girar infinite 30s linear;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
