* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

#brand {
    font-size: 24px;
    letter-spacing: 3px;
  }

nav {
    /* border-top: 5px solid #F9CB0C; */
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    width: 100%;
    align-items: center;
    /* border-bottom: 1px solid rgb(240, 240, 240); */
}


#logo img {
    animation: girar infinite 30s linear;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#logo {
  display: flex;
}