* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

#logo {
    display: flex;
}
nav {
    border-top: 5px solid #F9CB0C;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    width: 100%;
    align-items: center;
}
.navlinks{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}
#brand{
    font-size: 24px;
    letter-spacing: 2px;
}
#logo img {
    animation: girar infinite 30s linear;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navlinks a {
    text-decoration: none;
    color: #000;
    transition: 300ms all;
    letter-spacing: 3px;
}
.navlinks a:hover {
   color: #F9CB0C;
}
.hamburger-menu{
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 740px ) {
    .hamburger-menu{
        display: block;
    }
    .navlinks{
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        height: 90vh;
        align-items: center;
        width: 100%;
        top: 10vh;
        background: #F9CB0C;
        font-size: 32px;
       
    }
    .navlinks a{
        color: #fff;
    }


}