body{
    text-align: center;
}
#header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #F9CB0C;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}
#logo img {
    display: block;
    float: left;
    height: 50px;
    margin-right: 5px;
    animation: girar infinite 30s linear;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navlinks a {
    text-decoration: none;
    color: #000;
    transition: 300ms all;
}
.navlinks a:hover {
   color: #F9CB0C;
}
