#slider {
    width: 100%;
    height: 350px;
    color: white;
    text-shadow: 0px 0px 5px #444;
    background: rgb(213,148,0);
    background: radial-gradient(circle, rgba(213,148,0,1) 0%, rgba(255,213,40,1) 35%, rgba(255,157,0,1) 100%);
}

.btn-home{
    color:rgb(88, 88, 88);
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    width: 95px;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    font-size: 16px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px #444;
    border-radius: 4px;
    transition: 300ms all;
    /* text-transform: uppercase; */
}
.btn-home:hover{
    background: #000;
    color: white;
}