
.menu{
    background-color: white;
    list-style: none;
    line-height: 42px;
    margin: auto;
    padding-left: 0;
    width: 15em;

}
.titulo{
    text-align: center;
    color: rgb(121, 110, 110);
}
.menu a{
    background: url("../assets/logo/corona42.png") no-repeat left top;
    color: #000;
    display: block;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 44px;
    -webkit-transition:all 1s;
    -o-transition: all 1s ;
    transition: all 1s;
   
}
.menu a:hover{
    margin-left: 1em;
}
.menu li {
    margin-top: 15px;
    box-shadow: 8px 0 rgba(255, 255, 255, .2) inset; 
    margin-bottom: 5px;
    padding-left: 1.4em;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-transition:all 1s;
    -o-transition: all 1s ;
    transition: all 1s;
   
}
.menu li:hover{
    box-shadow: 15em 0 rgba(255, 255, 255, .2) inset;

} 
