.video-top{
    width: 50%;
    height: 315px;
    margin:  2em auto;

}
iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tituloTop{
    margin: 1em auto;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.texto-top{
    color: #F9CB0C;
}